@model RadioCabs.Models.Driver

@{
    ViewData["Title"] = "Driver Profile";
}

<h2 class="mt-3 text-center">Driver Profile</h2>
<div class="card shadow-lg p-5 my-4 mx-auto" style="min-height:90vh; max-width:800px;">
    <div class="row">
        <div class="col-md-4 text-center">
            <h4 class="mt-3">@Model.DriverName</h4>
            <p class="text-muted">Experience: @Model.Experience years</p>
        </div>

        <div class="col-md-8">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Driver ID:</th>
                        <td>@Model.DriverID</td>
                    </tr>
                    <tr>
                        <th>Contact Person:</th>
                        <td>@Model.ContactPerson</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td>@Model.City</td>
                    </tr>
                    <tr>
                        <th>Experiance:</th>
                        <td>@Model.Experience</td>
                    </tr>
                    <tr>
                        <th>Description:</th>
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>

            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>
